@model IEnumerable<LiftMeUp.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAccesible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hasElevator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th></th>
        </tr>
        <form method="get" asp-action="Index" asp-controller="Stations">
        <tr>
            <th>
                <input type="number" name="stationId" class="form-control" value=@ViewData["stationId"] onchange="$(this.form).submit();" />
            </th>
            <th>
                <input type="text" name="stationNaam" class="form-control" value="@ViewData["stationName"]" onchange="$(this.form).submit()" />
            </th>
            <th>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </form>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAccesible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasElevator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.stationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.stationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
